/.next/
/node_modules/
/out/

src/locale/master/

.DS_Store
.lighthouseci/
.eslintcache
tsconfig.tsbuildinfo

src/routes.ts

src/graphql/resolvers/types.ts
src/graphql/queries.ts
src/components/*/graphql.ts
